---
import Layout from "../layouts/Layout.astro";
import lineSvg from "../assets/line.svg";
import Button from "../components/Button.astro";
---

<Layout>
  <main class="flex justify-center items-center">
    <section
      class="max-w-screen-xl px-5 w-full flex flex-col justify-center items-center bg-[url('/patterndesign.svg')] bg-no-repeat bg-center bg-cover min-h-screen"
    >
      <div class="w-28 md:w-36 h-28 md:h-36">
        <img
          src="./profile.png"
          alt="Sebastian Urdanegui Image"
          class="w-full h-full"
        />
      </div>
      <div>
        <h1 class="text-3xl md:text-4xl text-center font-medium">
          Hola, soy Sebas Urdanegui
        </h1>
        <img src={lineSvg.src} alt="Line SVG" />
      </div>
      <p class="text-4xl md:text-5xl text-center font-medium">
        Transformando <span class="bg-primary px-2 rounded-xl"
          >ideas en soluciones</span
        > digitales con código, datos y automatización.
      </p>
      <p class="text-txt-custom-gray text-center">
        <b>Full-stack Developer</b>, <b>Data Analyst & Scientist</b> Soy especialista
        en desarrollo web, aplicaciones móviles nativas, automatización de procesos,
        análisis de datos y modelos de ML.
      </p>
      <Button title="Conóceme" />
    </section>
  </main>
</Layout>
