---
interface Props {
  title: string;
  description: string;
  items: string[];
}
const { title, description, items } = Astro.props as Props;
---

<div
  class="flex flex-col gap-2 border-gray-custom border-2 rounded-2xl p-6 hover:border-primary"
>
  <p class="text-lg sm:text-xl font-bold">{title}</p>
  <p class="text-sm sm:text-base">{description}</p>
  <ul class="flex flex-col gap-1">
    {items.map((item) => <li class="text-sm sm:text-base">• {item}</li>)}
  </ul>
</div>
