---
const { title } = Astro.props;
---

<span
  id="tag-projects"
  class="text-txt-custom-gray text-sm sm:text-base border-gray-custom border-2 p-3 rounded-2xl hover:border-white hover:border-2 hover:text-white hover:font-bold cursor-pointer min-w-fit snap-center"
>
  {title}
</span>
